@media only screen and (max-width:1025px){
    ._container {
        max-width: 800px;
        padding: 0 16px;
    }


    /* HEADER */

    .header {
        margin-bottom: 100px;
    }

    .lobsters-logo-link img {
        min-width: 130px;
    }

    .header-nav {
        gap: 50px;
    }

    #first-link-tablet {
        min-width: 88px;
    }

    .nav-item a {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
    }

    /* HERO */
    #advertiser-tablet-hero-container {
        max-width: 660px;
    }

    .hero {
        margin-bottom: 15px;
    }

    #squigly-yellow {
        max-width: 100px;
        top: -30px;
        left: -30px;
    }

    .hero-wrapper {
        flex-direction: column;
    }

    .hero-content{
        max-width: 620px;
    }

    .lobster1 {
        max-width: 288px;
        left: 70px;
    }

    #wave1 {
        max-width: 40px;
        left: 310px;
        top: -40px;
    }

    .hero-content h1{
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
    }

    .hero-content p {
        max-width: 574px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 24px;
    }

    .hero-br-desktop {
        display: none;
    }

    .hero-br-1 {
        display: block;
    }

    /* .hero-content p {
        max-width: 100%;
    } */

    .hero-image {
        align-self: flex-end;
    }

    /* STEPS */
    .steps {
        margin-bottom: 80px;
    }

    #grass-right {
        display: none;
    }

    .steps-card {
        max-width: 226px;
        padding: 16px;
    }


    .steps-card-number {
        margin-bottom: 37px;
    }

    .steps-card-content h1 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .steps-card-content p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    

    /* DESCRIPTION */
    .description {
        padding-bottom: 12px;
        margin-bottom: 89px;
    }

    #decor-purple {
        display: none;
    }

    .description-card {
        min-height: 154px;
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 26px;
    }
    .description-title-holder {
        margin-bottom: 24px;
    }

    .description-title-holder h1 {
        max-width: 580px;
        min-height: 108px;
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 0px;
    }

    .description-card img {
        margin-bottom: 32px;
    }

    #arrow-bottom1, #arrow-bottom2, #arrow-top {
        display: none;
    }

    .descr-br-desktop {
        display: none;
    }

    .descr-br-1{
        display: block;
    }

    .description-cards {
        /* flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 20px;
        gap: 20px; */

        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        align-items: start;

    }

    .description-wrapper {
        align-items: center;
    }
    .description-card {
        max-width: 350px;
        max-height: 154px;
    }

    /* REVIEW */

    .review {
        margin-bottom: 80px;
    }

    #decor-blue {
        max-width: 80px
    }


    .review-title-long {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }

    .review-title {
        text-align: center;
    }

    .rev-br-1 {
        display: block;
    }

    #grass-left {
        display: none;

    }

    #arrow-yellow {
        display: none;
    }

    /* PLATFORMS */
    .platforms {
        margin-bottom: 86px;
    }

    #decor-red {
        max-width: 80px;
        top: -80px;
        left: -20px;
    }

    .platforms-title-holder h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
    }

    .pltfrms-br1 {
        display: block;
    }

    .platforms-title-holder h1 {
        text-align: center;
    }

    #arrow-red {
        display: none;
    }

    .platforms-icons {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 102px;
    }




    /* HERO BOTTOM */
    #bottom-hero{
        margin-bottom: 91px;
    }


    #bottom-hero-content{
        max-width: 1000px;
        margin-top: 0px;
    }

    #bottom-hero-content h1{
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
    }

    .lobster2 {
        position: relative;
        max-width: 288px;
        bottom: 50px;
        left: 140px;
    }

    #wave2 {
        max-width: 40px;
        left: 360px;
        top: 30px;
    }

    #bottom-hero-wrapper {
        flex-direction: column;
    }

    .hero-btm-br1 {
        display: block;
    }

    /* FOOTER */
    .footer{
        padding-bottom: 36px;
    }

    #decor-yellow-black {
        bottom: -160px;
    }

    #footer-info {
        display: none;
    }

    .footer-nav {
        gap: 24px;
    }
}


@media only screen and (max-width:760px) {
    /* HEADER */
    .header {
        box-shadow: none;
        margin-bottom: 52px;
    }

    #wave1 {
        left: 240px;
        top: 0px;
    }

    .header-nav-links {
        display: none;
    }

    .header-menu-button {
        display: block;
    }

    /* HERO */

    #bottom-hero {
        margin-top: 60px;
    }

    #squigly-yellow {
        display: none;
    }

    .hero-image {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-image img {
        position: relative;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    #squigly-yellow {
        display: block;
        max-width: 78px;
        left: 25px;
    }

    

    .lobster1 {
        max-width: 213px;
    }

    .hero {
        margin-bottom: 69px;
    }

    .hero-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 42px;
    }

    .hero-content h1 {
        max-width: 321px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }


    .hero-content p {
        max-width: 343px;
        margin-bottom:24px;
        /* max-width: 343px; */
        text-align: center;
    }

    /* STEPS */
    .steps {
        margin-bottom: 68px;
    }

    .steps-card {
        max-width: 343px;
    }

    .steps-row {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .description-title-holder h1 {
        font-weight: 600;
        font-size: 24px;
    }


    /* DESCRIPTION */
    .description {
        margin-bottom: 60px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .descr-br2 {
        display: block;
    }

    #decor-purple {
        max-width: 73px;
    }

    .description-title-holder h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }

    .description-cards {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .description-card {
        min-width: 343px;
        max-width: 343px;
        width: auto;
    }

    /* PLATFORMS */
    .platforms {
        margin-bottom: 69px;
    }

    .platforms-title-holder {
        margin-bottom: 29px;
    }

    .platforms-title-holder h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }

    .platforms-icon {
        gap:13px;
    }

    .platforms-icon img {
        width: 38px;
    }

    .platforms-icon p {
        font-size: 11px;
    }

    #decor-red {
        display: none;
    }

    .platforms-icons {
        column-gap: 8px;
        row-gap: 26px;
        margin: auto;
    }

    /* REVIEW */

    .review {
        margin-bottom: 60px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .review-title-long {
        display: none;
    }

    .review-title-holder {
        margin-bottom: 24px;
    }

    .review-title-short{
        display: block;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }

    .review-card {
        max-width: 343px;
        padding: 16px;
        gap: 12px;
    }

    .review-card img {
        width: 48px;
        height: 48px;
        align-self: center;
    }


    .review-card-content h1 {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .review-card-content p {
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
    }


    #decor-blue{
        display: none;
    }

    

    /* HERO BOTTOM */
    #bottom-hero {
        margin: 0%;
        margin-bottom: 62px;
    }

    #bottom-hero-content h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 24px;
    }

    #bottom-hero-content {
        margin-bottom: 52px;
    }

    .hero-btm-br1 {
        display: none;
    }

    .hero-btm-br2 {
        display: block;
    }
    #arrow-black2 {
        display: none;
    }

    #wave2 {
        max-width: 40px;
        left: 240px;
        top: 0px;
    }

    .lobster2 {
        max-width: 213px;
    }

    #decor-yellow-black {
        max-width: 70px;
        bottom: -105px;
    }


    /* FOOTER */

    .footer-columns-holder {
        flex-direction: column;
        gap: 24px;
    }

    .footer-nav {
        gap:24px;
    }

    .footer-nav img {
        max-width: 109px;
    }
}

@media(max-width: 423px){
    .platforms-icons {
        column-gap: 8px;
    }
} 