@media only screen and (max-width:1025px){
    ._container {
        max-width: 800px;
    }

    /* HEADER */
    .header-nav {
        gap: 50px;
    }

    /* HERO */
    .hero-wrapper {
        flex-direction: column;
    }

    .hero-content{
        max-width: 100%;
    }

    .hero-br-desktop {
        display: none;
    }

    .hero-br-1 {
        display: block;
    }

    .hero-content p {
        max-width: 100%;
    }

    .hero-image {
        align-self: flex-end;
    }

    /* STEPS */
    

    /* DESCRIPTION */

    #arrow-bottom1, #arrow-bottom2, #arrow-top {
        display: none;
    }

    .descr-br-desktop {
        display: none;
    }

    .descr-br-1{
        display: block;
    }

    .description-cards {
        /* flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 20px;
        gap: 20px; */

        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        align-items: start;

    }

    .description-wrapper {
        align-items: center;
    }
    .description-card {
        max-width: 350px;
        max-height: 154px;
    }

    /* REVIEW */

    .review-title {
        text-align: center;
    }

    .rev-br-1 {
        display: block;
    }

    #grass-left {
        display: none;

    }

    #arrow-yellow {
        display: none;
    }

    /* PLATFORMS */

    .pltfrms-br1 {
        display: block;
    }

    .platforms-title-holder h1 {
        text-align: center;
    }

    #arrow-red {
        display: none;
    }

    .platforms-icons {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 175px;
    }




    /* HERO BOTTOM */
    #bottom-hero-content{
        max-width: 1000px;
    }

    #bottom-hero-content h1{
        font-size: 40px;
    }

    #bottom-hero-wrapper {
        flex-direction: column;
    }

    .hero-btm-br1 {
        display: block;
    }

    /* FOOTER */

    #footer-info {
        display: none;
    }

    .footer-nav {
        gap: 24px;
    }
}


@media only screen and (max-width:480px) {
    /* HEADER */

    #wave1 {
        display: none;
    }

    .header-nav-links {
        display: none;
    }

    .header-menu-button {
        display: block;
    }

    /* HERO */

    #bottom-hero {
        margin-top: 60px;
    }

    #squigly-yellow {
        display: none;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lobster1 {
        max-width: 213px;
    }

    .hero {
        margin-bottom: 69px;
    }

    .hero-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 71px;
    }

    .hero-content h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }


    .hero-content p {
        margin-bottom:24px;
        /* max-width: 343px; */
        text-align: center;
    }

    /* STEPS */

    .steps-row {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .description-title-holder h1 {
        font-weight: 600;
        font-size: 24px;
    }


    /* DESCRIPTION */
    .description {
        margin-bottom: 60px;
    }

    .descr-br2 {
        display: block;
    }

    #decor-purple {
        max-width: 73px;
    }

    .description-cards {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .description-card {
        width: auto;
    }

    /* PLATFORMS */
    .platforms {
        margin-bottom: 69px;
    }

    #decor-red {
        display: none;
    }

    .platforms-icons {
        column-gap: 76px;
    }

    /* REVIEW */

    .review {
        margin-bottom: 0px;
    }

    .review-title-long {
        display: none;
    }

    .review-title-short{
        text-align: center;
        display: block;
        font-weight: 600;
        font-size: 40px;
        line-height: 29px;
    }

    #decor-blue{
        display: none;
    }

    

    /* HERO BOTTOM */

    #bottom-hero-content h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }

    #bottom-hero-content {
        margin: 0;
    }

    .hero-btm-br1 {
        display: none;
    }

    .hero-btm-br2 {
        display: block;
    }
    #arrow-black2 {
        display: none;
    }

    #wave2 {
        display: none;
    }

    .lobster2 {
        max-width: 213px;
    }


    /* FOOTER */

    #decor-yellow-black {
        max-width: 96px;
    }

    .footer-columns-holder {
        flex-direction: column;
        gap: 24px;
    }

    .footer-nav {
        gap:24px;
    }

    .footer-nav img {
        max-width: 109px;
    }
}

@media(max-width: 423px){
    .platforms-icons {
        column-gap: 8px;
    }
}