@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Montserrat";
    background-image: url(assets/images/background_img.png);
    
}

._container {
    max-width: 1232px;
    padding: 0 16px;
    margin: 0 auto;
}

/* ----- HEADER ----- */

.header-menu-button {
    display: none;
}
.header {
    /* position: fixed; */
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: inherit;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.18);
    margin-bottom: 143px;
    /* width: 100%; */
    /* background-image: url("/assets/images/background_img.png"); */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99 !important;
    background-image: url(assets/images/background_img.png);
    background-color: #fff;
}

.hero-sticky-header {
    padding-top: 214px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    column-gap: 52px;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 48px;
    font-weight: 600;
    font-size: 16px;
}

.nav-item a{
    color: #000000;
    position: relative;
    text-decoration: none;

}

.nav-item a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item a:hover::before {
    transform: scaleX(1);
}

.header-buttons {
    display: flex;
    column-gap: 16px;
}

.header-button {
    font-weight: 600;
    /* font-size: 1em; */
    padding: 9px 24px 9px 24px;
    border: 1px solid #C9C9C9;
    border-radius: 100px;
}

.header-button:hover {
    background-color: #E30029;
    color: #F6F7F8;
}

/* ----- HERO ----- */
.hero {
    /* margin-top: 100px; */
    margin-bottom: 30px;
    position: relative;
}

.hero-wrapper {
    display: flex;
    justify-content:space-between;
}

.hero-content {
    position: relative;
    max-width: 692px;
}

.hero-content-title-holder{
    position: relative;
}





#squigly-yellow {
    position: absolute;
    top: -40px;
    left: -40px;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 3.125em;
  line-height: 52px;
  margin-bottom: 32px;
}

.hero-content p {
    max-width: 574px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 32px;
}

.hero-link {
    color: #000000;
    text-decoration:underline ;
}

.hero-button {
    max-width: 207px;
    padding: 14px 34px 14px 34px;
    color: #FFFFFF;
    background-color: #E30029;
    font-weight: 600;
    font-size: 18px;
    border-radius: 80px;
}

.hero-button:hover {
    background-color: #E30029CC;
    color: #F6F7F8;
    white-space: nowrap;
}

.hero-image {
    min-width: 420px;
    position: relative;
}

#wave1 {
    position: absolute;
    left: 340px;
    bottom: 370px;
}

.hero-image img {
    position: relative;
    bottom: 50px;
    /* width: 400px; */
}

/* ----- STEPS ----- */

.steps {
    margin-bottom: 140px;
    padding-top: 50px;
    width: 100%;
    overflow-x: hidden;
}

.steps-row {
    display: flex;
    column-gap: 20px;
    position: relative;
}

#grass-right {
    position: absolute;
    right: -50px;
    top: -50px;
}

.steps-card {
    padding: 20px 20px 24px 20px;
    width: 387px;
    background-color: rgba(216, 230, 255, 0.4);
}

.steps-card-number {
    margin-bottom: 42px;
    font-size: 1.125em;
    background-color: #FFC900;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.steps-card-content {

}

.steps-card-content h1{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}

.steps-card-content p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

/* ----- DESCRIPTION ----- */

.description {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffe2e073;
    margin-bottom: 140px;
    position: relative;
}

#decor-purple {
    position: absolute;
    top: -90px;
    right: 0px;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
}

.description-title-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
}

#arrow-black-one {
    position: absolute;
    top: 20px;
    right: 140px;
}

.description-title-holder h1{
    font-weight: 600;
    font-size: 40px;
}

.description-cards {
    display: flex;
    gap: 20px;
}

.description-card {
    padding: 20px 20px 24px 20px;
    max-width: 285px;
    background-color: #FFFFFF;
}

.description-card img {
    margin-bottom: 46px;
}

.description-card p {
    font-weight: 500;
    font-size: 16px;
}


/* ----- BRANDS ----- */

.brands {
    margin-bottom: 140px;
    position: relative;
}

#decor-red {
    position: absolute;
    top: -100px;
}

.brands-wrapper {
    display: flex;
    flex-direction: column;
}

.brands-title-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.brands-title-holder h1 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

#brands-title-holder-underlined {
    position: relative;
}

#underline-straight {
    position: absolute;
    top:45px;
    left:0px;
}

.brands-cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 20px;
    margin-bottom: 32px;

}

.brand__card {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
}

.brands-link-holder {
    display: flex;
    align-self: center;
}

.brands-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.brands-link-holder p {
    font-weight: 500;
    font-size: 16px;
    color: #676767;
}

.brands-link-holder a {
    color: #676767;
}

/* ----- PLATFORMS ----- */

.platforms {
    padding-top: 60px;
    margin-bottom: 111px;
    background-color: rgba(216, 230, 255, 0.4);
    position: relative;
}

#decor_yellow-white {
    position: absolute;
    right:0px;
    top: -70px;
}

.platforms-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platforms-title-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
}

#arrow_red {
    position: absolute;
    left:-170px;
    bottom:20px;
}

.platforms-title-holder h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
}

.platforms-icons {
    padding-bottom: 66px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    row-gap: 44px;
    column-gap: 220px;
}

.platforms-icon {
    display: flex;
    align-items: center;
    gap: 26px;
}

.platforms-icon img {

}

.platforms-icon p {
    font-weight: 600;
    font-size: 14px;
}

/* ----- CASE ----- */
.case {
    padding-top: 50px;
    margin-bottom: 155px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.case-wrapper {
    display: flex;
    justify-content:space-between;
}

.case-content {
    max-width: 412px;
    position: relative;
}

#grass-left {
    position: absolute;
    top: -40px;
    left: -50px;
}

.case-content-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 40px;
}

.case-content-text {

}

.case-content-text-description, .case-content-text-duration{
    margin-bottom: 16px;
}

.case-content-text h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #E30029;
    margin-bottom: 16px;
}

.case-content-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.case-content-stats {

}

.case-content-stats p{

}

.case-content-stats-highlight {
    color: #E30029;
    font-weight: 600;
}

.video-holder {
    position: relative;
}

#loop {
    position: absolute;
    top: -50px;
    right: -30px;
}

iframe {
    border-radius: 10px;
}

/* ----- OTHER CASES ----- */
#decor-blue {
    position: absolute;
    right: 0px;
    top: -190px;
}

.other-cases {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    margin-bottom: 140px;
}

.other-cases-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.other-cases-top-wrapper h1 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.other-cases-slider-buttons {
    position: relative;
    display: flex;
    gap: 8px;
}

.slider-button {
    position: relative;
    /* border: solid; */
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #C9C9C9;
}

.slider-button:hover {
    background-color: #E30029;
}

.slider-button div {
    position: absolute;
    height: 11px;
    width: 11px;
    border-top: 1px solid;
    border-left: 1px solid;
}

.slider-button:hover div{
    color:#FFFFFF;
}

#other-cases-next-button div {
    top: 10px;
    left: 8px;
    transform: rotate(135deg);
}

#other-cases-prev-button div {
    top: 10px;
    right: 8px;
    transform: rotate(-45deg);
}



.other-cases-cards-slider-holder {
    overflow: hidden;
}

.other-cases-cards-slider {
    display: flex;
    gap: 20px;
    /* overflow: hidden; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}

.other-cases-cards-slider::-webkit-scrollbar {
    display: none;
}

.other-cases-card {
    flex-shrink: 0;
    width: 488px;
    background-color: rgba(216, 230, 255, 0.4);
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
}

.other-cases-card-title p{
    /* margin-bottom: 20px; */
    font-weight: 500;
    font-size: 16px;
} 

.other-cases-card-platforms {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px; 
}

.other-cases-card-activity p {
    /* margin-bottom: 20px;  */
    font-weight: 500;
    font-size: 16px;
}

.card-gray-title {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
    color: #676767;
}

.cases-card-stats {
    margin-bottom: 20px;
}

.other-cases-card-title-text {
    margin-bottom: 20px;
}

#other-cases-card-highligthed {
    font-weight: 600;
    font-size: 20px;
    color: #E30029;
}

/* ----- REVIEWS ----- */

.reviews {
    background-color: #ffe2e073;
    padding-top: 56px;
    padding-bottom: 40px;
    margin-bottom: 100px;
    position: relative;
}

#decor-pink {
    position: absolute;
    top: -60px;
}

.reviews-top-wrapper {
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#reviews-title-underlined {
    position: relative;
}

#underline-squigly {
    position: absolute;
    left: 0px;
    bottom: -15px;
}

.reviews-top-wrapper h1 {
    font-weight: 600;
    font-size: 40px;
    margin-left: 230px;
}


.review-buttons-holder {
    position: relative;
    display: flex;
    gap: 8px;
}

#reviews-next-button div {
    top: 10px;
    left: 8px;
    transform: rotate(135deg);
}

#reviews-prev-button div {
    top: 10px;
    right: 8px;
    transform: rotate(-45deg);
}

#reviews-prev-button, #reviews-next-button {
    border: inherit;
}

.reviews-cards-slider {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}

.reviews-cards-slider::-webkit-scrollbar {
    display: none;
}
 

.reviews-card {
    flex-shrink: 0;
    display: flex;
    gap: 24px;
    width: 590px;
    padding: 24px 24px 24px 24px;
    background-color: #FFFFFF;
}

/* .reviews-card-image-holder {
    display: flex;
    flex-direction: column;
} */

.reviews-card img {
    width: 68px;
    height: 68px;
}

.reviews-card-top-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.reviews-card-name {
    font-weight: 600;
    font-size: 22px;
}

.reviews-card-company {
    font-weight: 600;
    font-size: 14px;
    color: #676767;
}

.reviews-card-bottom-content {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

/* ----- BOTTOM HERO ----- */

#bottom-hero-content {
    margin-top: 100px;
    max-width: 597px;
}

#bottom-hero-content h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
}

#bottom-hero-content p {
    max-width: 416px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

#hero-highlighted {
    color: #E30029;
    font-weight: 700;
}

.lobster2 {
    position: relative;
    top: 25px;
}

#wave2 {
    position: absolute;
    left: 340px;
    bottom: 290px;
}

#decor-yellow-black {
    position: absolute;
    right: 0px;
    /* bottom: -210px; */
}

/* ----- FOOTER ----- */

.footer {
    background-color: #191919;
    padding-top: 36px;
    padding-bottom: 28px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-nav{
   display: flex;
   flex-direction: column;
   gap: 46px;
}

.footer-columns-holder {
    display: flex;
    gap: 100px;
}

.footer-media-icons {
    display: flex;
    gap: 10px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-column-title {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.footer-column-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-column-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
}

#arrow-black2 {
    margin-top: 10px;
    margin-left: 50px;
}

/* line breaks for media queries */

.hero-br1 {
    display: none;
}

.btm-hero-title-br1 {
    display: none;
}

.reviews-br-1 {
    display: none;
}


/* Mobile Menu Pop-up */

.mobile-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    /* left: 1%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px 20px;
    min-width: 343px;
    max-width: 343px;
    height: 568px;
    background: #FFFFFF;
    border-radius: 10px;

    max-height: 90vh;
    overflow-y: scroll;

    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
} 

.hidden{
    display: none;
}


.mobile-menu-top {
}


.close-holder {
    display: flex;
    justify-content: right;
}

.close {
    background: inherit;
    width: 32px;
    height: 32px;
    position: relative;
    border: 1px solid #C9C9C9;
    border-radius: 100px;

    
}
.close:after {
    content: '';
    height: 15px;
    border-left: 1px solid #000;
    position: absolute;
    transform: rotate(45deg);
    top: 8px;
    left: 15px;
}

.close:before {
    content: '';
    height: 15px;
    border-left: 1px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    top: 8px;
    left: 15px;
}

.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.mobile-menu-nav a{
    color: #000000;
    text-decoration: none;
}

.mobile-menu-nav a:hover {
    color:#E30029;
}


.mobile-menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-button {
    font-weight: 600;
    /* font-size: 1em; */
    padding: 9px 24px 9px 24px;
    border: 1px solid #C9C9C9;
    border-radius: 100px;
}

.header-button:hover {
    background-color: #E30029;
    color: #F6F7F8;
}

.mobile-menu-button {
    font-weight: 600;
    /* font-size: 1em; */
    padding: 9px 24px 9px 24px;
    border: 1px solid #C9C9C9;
    border-radius: 100px;
}

.mobile-menu-button:hover {
    background-color: #E30029;
    color: #F6F7F8;
}

/* Log in pop up */

.login-popup {
    flex-direction: column;
    width: 463px;
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);

    /* max-height: 778px; */
    max-height: 95vh;
    overflow-y: scroll;
}

.login-popup::-webkit-scrollbar {
    display: none;
}

.shown {
    display: flex;
}

.login-popup-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.login-popup-top h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
}

.sign-in-form label {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 6px;
}

.sign-in-form input {
    background: #EEEEEE;
    border-radius: 8px;
    max-width: 403px;
    height: 40px;
    margin-bottom:16px;
    padding: 16px;
}

.sign-in-form input:focus {
    border: 1px solid #7BABFF;
}

.sign-in-form input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #676767;
    position: absolute;
    top: 10px;
    left: 16px;
}

.sign-in-form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-in-form-bottom a{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #E30029;
}

.remember-me-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.remember-me-checkbox input {
    margin-bottom: 0%;
}


.remember-me-checkbox label{
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.forgot-password {

}

.sign-in-form-button {
    font-weight: 600;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    /* border: 1px solid #C9C9C9; */
    background-color: #E30029;
    border-radius: 100px;
    color: #F6F7F8;
    margin-bottom: 24px;
}

.login-other-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-other-button {
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;
    background: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #C9C9C9;
}

.login-other-button img {
    position: absolute;
    top: 13px;
    left: 15px;
}

#apple {
    top: 10px;
    left: 15px;
}

/* registration popup */


.registration-popup {
    width: 463px;
    /* max-height: 778px; */
    max-height: 95vh;
    overflow-y: scroll;
    background-color: #FFFFFF;
    border-radius: 10px;
    /* display: flex; */
    flex-direction: column;
    padding: 30px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
}

.registration-popup::-webkit-scrollbar {
    display: none;
}

.registration-popup-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.registration-popup-top h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.login-popup-warning {
    padding: 16px;
    max-width: 403px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    background: #D8E6FF;
    border-radius: 10px;
    margin-bottom: 24px;
}

.registration-popup-form {
    display: flex;
    flex-direction: column;
}

.registration-popup-form input {
    background: #EEEEEE;
    border-radius: 8px;
    max-width: 403px;
    height: 40px;
    margin-bottom:16px;
    padding: 16px;
}

.registration-popup-form input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #676767;
    position: absolute;
    top: 10px;
    left: 16px;
}

.registration-popup-form input:focus {
    border: 1px solid #7BABFF;
}

/* .registration-popup-form input:invalid {
    border: 1px solid #FF002E;
} */

/* #agreement {
    --size: 16px;
    min-width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
    margin: 0 10px;
    position: relative;
    padding-left: var(--size);
  } */

.registration-popup-form label {
    color: #676767;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 6px;
}

.registration-popup-dropdown-button {
    display: flex;
    justify-content: space-evenly;
    max-width: 162px;
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;
    background: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #C9C9C9;
    margin-bottom: 20px;
}

.status-list {
    z-index: 99 !important;
    width: 326px;
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px 24px 16px;
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    bottom: 5px;
}

#status-list-close-button {
    position: absolute;
    top: 12px;
    right: 10px;
}

.status-list-item {
    display: flex;
    gap: 8px;
    align-items: center;
    /* max-width: 236px; */
    max-height: 18px;
}

.status-list-item label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.registration-popup-dropdown-button div {
    height: 11px;
    width: 11px;
    border-top: 1px solid;
    border-left: 1px solid;
    transform: rotate(225deg);
}

.agreement-checkbox {
    display: flex;
    gap: 8px;
    align-items: center;
}

.agreement-checkbox a{
    /* text-decoration: none; */
    color: #666;
    
}



.registration-popup-submit-button {
    max-width: 189px;
    font-weight: 600;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    /* border: 1px solid #C9C9C9; */
    background-color: #E30029;
    border-radius: 100px;
    color: #F6F7F8;
}


.body-active-pop-up {
    overflow: hidden;
}

/* Radio buttons */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #676767;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 11px;
    height: 11px;
    background: #E30029;
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}