@media (max-width:1025px) {
    ._container {
        max-width: 720px;
        padding: 0 16px;
    }

    /* HEADER */
    .hero-content h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .hero-content p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    }

    .hero-button {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
    .nav {
        gap: 20px;
    }
    .header-nav {
        gap: 50px;
    }

    .header-buttons {
        gap: 5px;
    }

    .header-button {
        padding: 6px 16px 6px 16px;
    }

    .nav-list {
        gap: 20px;
        font-size: 14px;
    }

    /* .nav-list li a{
        min-width: 88px;
    } */

    .lobsters-logo-link img {
        min-width: 130px;
    }

    .header-button {
        font-size: 14px;
    }

    /* HERO */

    img#squigly-yellow {
        max-width: 100px;
    }

    .hero-wrapper {
        flex-direction: column;
    }

    .hero-content{
        /* max-width: 100%; */
    }

    .hero-content h1{
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
    }

    .hero-content p {
        max-width: 574px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }

    .hero-br-desktop {
        display: none;
    }

    .hero-br-1 {
        display: block;
    }

    .hero-image {
        align-self: flex-end;
    }

    /* STEPS */

    #grass-right {
        display: none;
    }

    .steps-card {
        min-width: 226px;
        max-width: 387px;
    }

    .steps-card-content h1 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .steps-card-content p {
        font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    }

    /* DESCRIPTION */
    #decor-purple {
        max-width: 100px;
        top: -60px;
    }

    .description-wrapper {
        align-items: center;
    }

    #arrow-black-one {
        display: none;
    }
    .description-cards {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        align-items: start;
    }

    .description-card {
        max-width: 350px;
    }



    /* BRANDS */
    #decor-red {
        max-width: 80px;
        top: -120px;
    }
    #underline-straight {
        max-width: 200px;
        top:32px;
    }

    .brands {
        margin-bottom: 80px;
    }

    .brands-title-holder h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
    }
    
    .brands-cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /* PLATFORMS */

    .platforms-title-holder h1 {
        font-size: 36px;
        text-align: center;
    }
    

    #arrow_red {
        display: none;
    }

    

    .platforms-icons {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 125px;
    }

    /* CASE */
    #decor-blue {
        width: 80px;
    }

    #loop {
        display: none;
    }

    .case-wrapper {
        display: flex;
        flex-direction: column;
    }

    .case-br-desktop {
        display: none;
    }

    .case-content {
        max-width: 636px;
        margin-bottom: 40px;
    }

    .case-content-title {
        max-width: 636px;
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
    }

    .case-content-text {
        max-width: 412px;
    }

    .video-holder {
        display: flex;
        justify-content: center;
    }

    /* OTHER CASES */

    .other-cases-card {
        width: 328px;
    }

    /* REVIEWS */
    .reviews {
        margin-bottom: 0px;
    }
    .reviews-top-wrapper {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    .reviews-top-wrapper h1 {
        margin-left: 0px;
    }

    .reviews-slider-buttons {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .reviews-card {
        max-width: 328px;
        /* max-height: 145px; */
    }

    .reviews-card-name {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .reviews-card-company {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: end;
    }
    
    .reviews-card-bottom-content {
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
    }

    /* FOOTER */

    #footer-info {
        display: none;
    }

    .footer-nav {
        gap: 24px;
    }
}



@media (max-width:760px) {
    /* HEADER */

    #wave1 {
        display: none;
    }

    .header-nav-links {
        display: none;
    }

    .header-menu-button {
        display: block;
    }

    .nav {
        display: none;
    }

    /* HERO */

    #bottom-hero {
        margin-top: 60px;
    }

    #squigly-yellow {
        display: none;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lobster1 {
        max-width: 213px;
    }

    .hero {
        margin-bottom: 69px;
    }

    .hero-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 71px;
    }

    .hero-content h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }


    .hero-content p {
        margin-bottom:24px;
        /* max-width: 343px; */
        text-align: center;
    }

    /* STEPS */

    .steps-row {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .description-title-holder h1 {
        font-weight: 600;
        font-size: 24px;
    }

    .steps-card-number {
        margin-bottom: 32px;
    }

    /* DESCRIPTION */
    .description {
        margin-bottom: 60px;
    }

    .descr-br2 {
        display: block;
    }

    #decor-purple {
        max-width: 73px;
    }

    .description-cards {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .description-card {
        width: auto;
    }

    .description-card p {
        font-size: 14px;
    }

    .description-card img {
        margin-bottom: 32px;
    }

    /* BRANDS */

    .brands-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 8px;
        row-gap: 8px;
    }

    .brands-title-holder h1 {
        font-size: 24px;
        line-height: 28px;
    }

    /* PLATFORMS */
    .platforms {
        margin-bottom: 60px;
    }

    .platforms-icons {
        column-gap: 8px;
    }
    /* CASE */
    #grass-left {
        display: none;
    }

    #decor-blue {
        display: none;
    }

    .case-content-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }
    .case-content-text h1 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .case-content-text{
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
    }

    /* OTHER CASES */
    .other-cases{
        margin-bottom: 60px;
    }

    .other-cases-slider-buttons {
        display: none;
    }

    .other-cases-top-wrapper h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }

    /* REVIEWS */
    .reviews-top-wrapper h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
    .reviews-slider-buttons {
        display: none;
    }

    .reviews-card{
        padding: 12px;
        height: auto;
    }
    
    .reviews-card-top-text {
        flex-direction: column;
        
    }

    /* .reviews-card img {
        width: 32px;
        height: 32px;
    } */

    .reviews-card-company {
        text-align:inherit;
        gap: 4px;
    }
    
    .reviews-card-bottom-content {
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
    }

    /* HERO BOTTOM */

    #bottom-hero-content h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }

    #bottom-hero-content {
        /* margin: 0; */
    }

    .hero-btm-br1 {
        display: none;
    }

    .hero-btm-br2 {
        display: block;
    }
    #arrow-black2 {
        display: none;
    }

    #wave2 {
        display: none;
    }

    .lobster2 {
        max-width: 213px;
    }


    /* FOOTER */

    #decor-yellow-black {
        max-width: 96px;
    }

    .footer-columns-holder {
        flex-direction: column;
        gap: 24px;
    }

    .footer-nav {
        gap:24px;
    }

    .footer-nav img {
        max-width: 109px;
    }

}